<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>FAQ</li>
      </ul>
    </div>
    <div class='inner topic'>
      <h3>FAQ</h3>
      <hr/>
      <div class="topic_content">
        <p>A：Knockout.com.cn 社区和 knockoutjs.com 是什么关系？</p>

        <p>Q：Knockout.com.cn 是基于nodeclub开源社区软件的knockoutjs国内最大、最专业的社区，knockoutjs.com 是 knockoutjs官方网站</p>
      </div>
    </div>
  </div>
</div>
